<mat-toolbar color="primary">  
  <h1>  
  Couch Player 
  </h1>  
  <button mat-button routerLink="/">Home</button>  
  <button mat-button routerLink="/about">About</button>
</mat-toolbar>
<router-outlet>
  
</router-outlet>