<div style="padding: 13px;">
    <mat-spinner *ngIf="shows.length === 0"></mat-spinner>

    <mat-card *ngFor="let show of shows" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{show.Origin}}: {{show.TitleShort}}</mat-card-title>
            <mat-card-subtitle>Alter: {{show.AgeInDays}} | Länge: {{show.Duration}} | Ausgestrahlt am: {{show.DateBroadcast}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{show.description}}
            </p>
            <img style="height:10%; width: 10%;" src="{{'data:image/jpeg;base64,' + show.ThumbnailByteArray }}" />
        </mat-card-content>
        <mat-card-actions>
      <button mat-button> Play</button>
    </mat-card-actions>
    </mat-card>
</div>